<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title> User Edit</title>
</head>
<body>
  <h1>업데이트 폼</h1>
  <form action="/update/<%= sample_table[0].id %>" method="POST">
    name <input type="text" name="name" value="<%= sample_table[0].name %>"><br>
    address <input type="text" name="address" value="<%= sample_table[0].address %>"><br>
    <button type="submit">업데이트</button>
  </form>
</body>
</html>
